@media screen and (max-width: 400px) {
    .toggle{
        display: block !important;
    }

    .nav1 h3{
        font-size: 4vw !important;
    }

    .navlink{
        margin-top: 3.5vw !important;
        position: absolute !important;
        background-color: #fff !important;
        left: 0%;
        top: -20000%;
        /* position: absolute; */
        width: 100%;
        height: 100vh !important;
        border-radius: 2vw !important;
        transition: 0.4s all ease;
    }

    .navlink.active{
        top: 100%;
    }

    .navlink a{
        font-size: 5vw !important;
        padding: 5vw !important;
        color: #000 !important;
    }

    .btn{
        padding: 3vw 4vw !important;
        font-size: 2.4vw !important;
        border-radius: 4vw !important;
        font-size: 4vw !important;
        outline: none;
        border: none;
        background-color: var(--third--bgcolor);
        transition: .4s all ease;
        /* color: var(--text1); */
    }

    .nav2 ul{
        flex-direction: column;
        z-index: 99;
    }

    /* .nav{
        background-color: #fff;
        position: relative;
        overflow: initial;
    } */

    .page1-main{
        flex-direction: column;
    }

    .left-one h1{
        font-size: 10vw !important;
        font-weight: 900 !important;
        line-height: 11vw !important;
    }

    .left-one h1 span{
        font-size: 13vw !important;
        font-weight: 900 !important;
        line-height: 14vw !important;
    }
    
    .box{
        grid-row: span 3 !important;
        grid-column:  span 3 !important;
    }
    
    .box video{
        width: 100vw !important;
    }
    .right-one{
        width: 100vw !important;
        gap: 3vw !important;
    }

    #box5, #box7{
        display: none;
    }


    .about-content{
        flex-direction: column;
    }

    .page2 h2{
        font-size: 8vw !important;
        margin-top: 4vw;
    }

    .left-two img{
        width: 100vw !important;
        height: 55vh !important;
        padding: 2vw 5vw !important;
        border-radius: 4vh !important;
    }

    .right-two h2{
        text-align: center;
        font-size: 8vw !important;
    }
    .right-two p{
        font-size: 4vw !important;
        text-align: center !important;
    }

    .page3 h2{
        font-size: 8vw !important;
    }

    .timeline::after{
        left: 31px !important;
        width: 1vw !important;

    }

    .container{
        width: 100% !important;
        padding-left: 2vw !important;
        padding-right: 1vw !important;
    }

    .rc{
        left: 0 !important;
    }

    .rc i, .lc i{
        left: -8% !important;
    }

    .page4 h2{
        font-size: 8vw !important;
    }

    /* .img4{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1vw;
    } */

    .page4{
        height: 13vh !important;
    }

    .page5{
        height: 30vh !important;
    }

    .page5 h2{
        font-size: 8vw !important;
    }

    .content-five{
        flex-direction: column;
    }

    .left-five{
        width: 100% !important;
        height: 10vh !important;
        /* background-color: rebeccapurple; */
    }

    .left-five .row i{
        font-size: 5vw;
        width: 8vw;
        height: 8vw;
    }

    .row p{
        font-size: 3vw !important;
    }

    .right-five{
        height: 10vh !important;
    }

    .right-five input{
        width: 96vw !important;
    }

    #name, #email{
        height: 8vw !important;
    }

    #message{
        height: 15vw !important;
    }

    .footer p{
        font-size: 4vw !important;
    }

    .text-end button{
        font-size: 4vw !important;
        margin-top: 2vw !important;
    }

    .page4{
        height: 40vh !important;
    }

    .page4 h4{
        font-size: 4vw;
        font-weight: 500;
        line-height: 3.5vw;
    }

    .text a{
        font-size: 5vw !important;
    }

    .text-effect{
        display: none !important;
    }
}
